<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand">APP NAME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="show-movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="show-restaurants">Restaurants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="show-books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="show-products">Products</a>
          </li>

          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="">Logged In As: <%= user.email %></a>
          </li>

          <li class="nav-item">
            <form action="/logout" method="POST">
              <input type="submit" name="submit" value="Logout">
            </form>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <!-- the profile link should not show when user is not logged in -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="">Profile</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
</header>
