<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"><strong>uPick</strong>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="btn-group dropright">
          <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" id="show-movies">Movies</a>
            <a class="dropdown-item" id="show-restaurants">Restaurants</a>
            <a class="dropdown-item" id="show-books">Books</a>
            <a class="dropdown-item" id="show-products">Products</a>
          </div>
        </div>
        <% if (user) { %> 
        <ul class="navbar-nav ml-auto">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= user.id %>">Profile</a>
            </li>
          </ul>
          <li class="nav-item">
            <a class="nav-link" href="">Logged in as: <%= user.email %></a>
          </li>
          <li class="nav-item">
            <form action="/logout" method="POST">
              <input type="submit" name="submit" value="Logout" id="btn-logout">
            </form>
          </li>
        </ul>
        <% } else { %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
        <% } %>

      </div>
    </nav>
</header>
