// See: https://sass-lang.com/

body {

  .main-background {
  font-family: 'Questrial', sans-serif;
  background-color: #EAE7DC;
  color: #E85A4F;
  }
  .smart-add {
    border: 5px dashed purple;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .smart-add-box {
      width: 15em;
      display: flex;
      flex-direction: column;

      textarea {
        height: 2em;
        width: 14em;
        border-style: hidden;
        border-bottom: 2px solid black;
        background-color: transparent;
        resize: none;
      }

      .new-item {
        background-color: transparent;
        color: black;
        border: 2px solid #E98074;
        border-radius: 4px;
        width: 50%;
      }

      .new-item:hover {
        background-color: #E98074;
        color: white;
      }
    }

  }

  .main-categories {
    border: 5px dashed green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1em;
      padding: 1em;
      width: 100%;
    }

    article {
      border: 1px solid black;
      padding: 1em;
      width: 100%;

      h2 {
        border-bottom: 1px solid black;
      }

      .items-count {
        text-align: right;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  .gray-out {
    color: gray;
  }
}







