// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.main-categories {
  font-family: 'Yellowtail', cursive;
}

.main-categories div {
  border: 5px black;
}
