// See: https://sass-lang.com/

body {
  background-color: #EEE;
  direction: flex;

  h1 {
    color: #244751;
  }
}

.main-categories h2 {
  font-family: 'Yellowtail', cursive;
}

.main-categories div {
  border: 3px solid black;
}
