.grey-background {
  background-color: #EAE7DC;

  .login-background {

    .main-login {
      font-family: 'Questrial', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #E85A4F;
      border-radius: 2px;
      margin: 5em auto;
      color: #8E8D8A;
      width: 30em;

      .login-title {
        margin-top: 10px;;
        margin-bottom: 20px;

      }

      .email-password-container {
        margin-bottom: 15px;

        form {
          display: flex;
          flex-direction: column;

          input {
            background-color: transparent;
            border-style: hidden;
            border-bottom: 2px solid #E98074;
          }

          .login-submit{
            margin-top: 15px;
            background-color: transparent;
            color: black;
            border: 2px solid #E98074;
            border-radius: 4px;
            width: 50%;
          }

          .login-submit:hover {
            background-color: #E98074;
            color: white;
          }
        }
      }
      h4 {
        margin-bottom: 1em;

        a {
          color:#E85A4F;
        }
      }
    }
  }
}
