body {



  .main-login {
    font-family: 'Forum', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dashed yellow;
    margin: auto;

    .login-title {
      margin-top: 10px;;
      margin-bottom: 20px;


    }
    .email-password-container {
      margin-bottom: 15px;

      form {
        display: flex;
        flex-direction: column;

        .login-button {
          margin-top: 15px;
        }
      }

    }

    h4 {
      margin-top: 5px;
    }
  }
}
