div.user-inputs {
  margin-top: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  .form-group {
    width: 30em;
  }
}

div.buttons {
  margin-top: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  .btn:first-child {
    margin-right: 5em;
  }

  .btn:last-child {
    margin-left: 5em;
  }
}



// Desktop view
@media only screen and (min-width: 1024px) {

}
